---
import { Icon } from "astro-icon";
import ConditionalHeaderLinks from "./ConditionalHeaderLinks.svelte";
---

<header class="flex justify-between items-center">
  <p class="font-vt323 text-7xl">G</p>
  <nav class="flex gap-6 items-center">
    <a
      aria-label="Linkedin"
      href="https://www.linkedin.com/in/gabriel-jardim-nascimento/"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:linkedin" /></a
    >
    <a
      aria-label="GitHub"
      href="https://github.com/gabinpoa"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:github" /></a
    >
    <a
      aria-label="Email"
      href="mailto:gabrielnpoa@gmail.com"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:email" /></a
    >
    <ConditionalHeaderLinks client:load />
  </nav>
</header>
