---
import { Icon } from "astro-icon";
---

<header class="flex justify-between items-center">
  <p class="font-vt323 text-7xl">G</p>
  <nav class="flex gap-12 items-center">
    <a
      href="https://www.linkedin.com/in/gabriel-jardim-nascimento/"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:linkedin" /></a
    >
    <a
      href="https://github.com/gabinpoa"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:github" /></a
    >
    <a
      href="mailto:gabrielnpoa@gmail.com"
      target="_blank"
      rel="noopener noreferrer"><Icon class="w-9" name="line-md:email" /></a
    >
    <a href="" class="text-xl">Projetos</a>
    <a href="" class="text-xl">Habilidades</a>
    <a href="" class="text-xl">Tecnologias diferenciadas</a>
  </nav>
</header>
