<section class="flex flex-wrap justify-center gap-x-16 gap-y-12 py-32">
  <article
    class="flex flex-col relative justify-between gap-3 max-w-[364px] rounded-md bg-slate-800 px-4 py-3"
  >
    <span class="absolute text-orange-400 -top-7"
      >Este site foi feito com Astro!</span
    >
    <div class="flex justify-between items-center">
      <h4 class="font-medium text-xl">Astro</h4>
      <img class="h-16" src="/astro-white.png" alt="Qwik logo" />
    </div>
    <p>
      Astro é um framework para construir websites rápidos e focados em
      conteúdo. O Astro foi projetado para construir sites ricos em conteúdo,
      como sites de marketing, e-commerce, documentação, blogs e portfólios.
      Também oferece diversas ferramentas para ajudar no SEO.
    </p>
    <div class="flex gap-2 text-sm">
      <span class="px-2.5 py-1 rounded-full bg-emerald-700"
        >Focado em conteúdo</span
      >
      <span class="px-2.5 py-1 rounded-full bg-blue-700">SEO</span>
    </div>
  </article>
  <article
    class="flex flex-col justify-between gap-3 max-w-[364px] rounded-md bg-slate-800 px-4 py-3"
  >
    <div class="flex justify-between items-center">
      <h4 class="font-medium text-xl">Next</h4>
      <img class="h-16" src="/next.png" alt="Qwik logo" />
    </div>
    <p>
      O NextJS é o framework Full Stack React que mais cresce. Ele oferece
      várias vantagens, incluindo performance, rápido desenvolvimento,
      escalabilidade e otimização para SEO. <br /> Ao escolher o NextJS, você terá
      uma aplicação completa e confiável.
    </p>
    <div class="flex gap-2 text-sm">
      <span class="px-2.5 py-1 rounded-full bg-black">Aplicação Completa</span>
      <span class="px-2.5 py-1 rounded-full bg-purple-700">Escalável</span>
    </div>
  </article>
  <article
    class="flex flex-col justify-between gap-3 max-w-[364px] rounded-md bg-slate-800 px-4 py-3"
  >
    <div class="flex justify-between items-center">
      <h4 class="font-medium text-xl">Qwik</h4>
      <img class="h-16" src="/qwik.png" alt="Qwik logo" />
    </div>
    <p>
      O Qwik é o framework JS mais rápido para grandes aplicações. Ele não
      utiliza 'hydration', o que permite interação imediata até mesmo em
      dispositivos e conexões mais lentas. Com ele é possível ter alta
      interatividade e complexidade com a melhor performance.
    </p>
    <div class="flex gap-2 text-sm">
      <span class="px-2.5 py-1 rounded-full bg-orange-600">Instantâneo</span>
      <span class="px-2.5 py-1 rounded-full bg-purple-700">Escalável</span>
    </div>
  </article>
</section>
