---
import { Icon } from "astro-icon";
import StackCard from "./StackCard.astro";
---

<section class="flex flex-col gap-4 py-32 items-center">
  <div class="flex gap-7">
    <StackCard
      color="slate-800"
      icon="simple-icons:react"
      iconSize={40}
      link="https://reactjs.org/"
      textSize="xl"
      title="React"
    />
    <StackCard
      color="slate-800"
      icon="simple-icons:javascript"
      iconSize={40}
      link="https://www.javascript.com/"
      textSize="xl"
      title="JavaScript"
    />
    <StackCard
      color="slate-800"
      icon="simple-icons:typescript"
      iconSize={40}
      link="https://www.typescriptlang.org/"
      textSize="xl"
      title="TypeScript"
    />
    <StackCard
      color="violet-800"
      icon="simple-icons:nodedotjs"
      iconSize={40}
      link="https://expressjs.com/"
      textSize="xl"
      title="Node Express"
    />
  </div>
  <div class="flex gap-6">
    <StackCard
      color="emerald-700"
      icon="simple-icons:tailwindcss"
      iconSize={36}
      link="https://tailwindcss.com/"
      textSize="lg"
      title="TailwindCSS"
    />
    <StackCard
      color="emerald-700"
      icon="simple-icons:expo"
      iconSize={30}
      link="https://expo.dev/"
      textSize="lg"
      title="Expo"
    />
    <StackCard
      color="slate-800"
      icon="simple-icons:nextdotjs"
      iconSize={36}
      link="https://nextjs.org/"
      textSize="lg"
      title="Next"
    />
    <StackCard
      color="emerald-700"
      icon="simple-icons:html5"
      iconSize={36}
      link="https://developer.mozilla.org/pt-BR/docs/Web/HTML"
      textSize="lg"
      title="HTML"
    />
    <StackCard
      color="emerald-700"
      icon="cib:figma"
      iconSize={36}
      link="https://www.figma.com/"
      textSize="lg"
      title="Figma"
    />
  </div>
  <div class="flex gap-5">
    <StackCard
      color="emerald-700"
      icon="simple-icons:astro"
      iconSize={32}
      link="https://astro.build/"
      textSize="base"
      title="CSS"
    />
    <StackCard
      color="emerald-700"
      icon="simple-icons:css3"
      iconSize={32}
      link="https://developer.mozilla.org/pt-BR/docs/Web/CSS"
      textSize="base"
      title="CSS"
    />
    <StackCard
      color="violet-800"
      icon="simple-icons:prisma"
      iconSize={32}
      link="https://www.prisma.io/"
      textSize="base"
      title="Prisma"
    />
    <StackCard
      color="violet-800"
      icon="simple-icons:postgresql"
      iconSize={32}
      link="https://www.postgresql.org/"
      textSize="base"
      title="PostgreSQL"
    />
    <a
      class="flex gap-3 px-3 py-2 items-center rounded-md text-base font-medium bg-emerald-700"
      href="https://qwik.builder.io/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Qwik
      <img class="h-7" src="/qwik-white.png" alt="Qwik logo" />
    </a>
    <StackCard
      color="violet-800"
      icon="simple-icons:railway"
      iconSize={32}
      link="https://railway.app/"
      textSize="base"
      title="Railway"
    />
  </div>
</section>
