---
import { Schema } from "astro-seo-schema";
import { SEO } from "astro-seo";
export interface Props {
  title: string;
}

const { title }: Props = Astro.props;
---

<html>
  <head>
    <SEO
      title="Desenvolvedor Gabriel Nascimento"
      description="Desenvolvedor full-stack apaixonado por tecnologia com habilidades em JavaScript, Typescript, HTML, CSS, SQL, React, React Native, Node.js, Express, Prisma, PostgreSQL e mais. Conheça meus projetos recentes e meus conhecimentos técnicos em meu portfólio pessoal."
    />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Gabriel Nascimento",
        url: "https://gabrielnascimento.netlify.app/",
        image: "",
        sameAs: [
          "https://www.linkedin.com/in/gabriel-jardim-nascimento/",
          "https://github.com/gabinpoa",
        ],
        jobTitle: "Desenvolvedor Web E React Native",
      }}
    />
    <meta
      name="google-site-verification"
      content="L6yizr9JI1rrgEq3FDKVhuBxLucbZ9HLy8qQMGB3Tvw"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600&family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen text-white font-urbanist bg-slate-900">
    <slot />
  </body>
</html>
